#login_register{
  padding: 10px 0 50px 0;
  .wrapper{
    width: 100%;
    // height: 100px;
    background-color: #F7F7F7;
    padding: 60px;
    .header{
      text-align: center;
      margin-bottom: 20px;
      h3{
        font-family: Averta;
        font-size: 25px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ff9466;
      }
    }
    .form{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .InputGroup {
        margin-top:20px;
        width: 100%;
        display: flex;
        justify-content: space-between ;
        input[type="radio"] {
          visibility: hidden; /* 1 */
          height: 0; /* 2 */
          width: 0; /* 2 */
        }

        label {
          width: 160px;
          height: 161px;
          border-radius: 4px;
          border: solid 1px #dfdfdf;
          margin-right: 10px;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          cursor: pointer;
          p{
            margin-top: 10px;
            text-align: center;
            font-family: Averta;
            font-size: 16px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: black;

          }
          svg{
            fill: #666;
            // g{
            //     fill: #666;
            // }
          }
        }

        label:last-of-type {
          margin-right: 0;
        }

        input[type="radio"]:checked + label {
          border:1px solid #ff9466;
          svg{
            fill: #ff9466;
          }
        }

        input[type="radio"]:hover:not(:checked) + label {
          border:1px solid #ff9466 !important;
          svg{
            fill: #ff9466;
          }
        }


      }
      .inputs{
        display: flex;
        justify-content: center;
        flex-direction: column;
        // align-items: center;
        padding-top: 20px;
        .select-selected{
          font-size: 16px;
          padding: 12px 16px;
          &::after{
            top: 18px;
          }
        }
        .alert{
          margin-top: 5px;
          font-family: Averta;
          font-size: 13px;
          font-weight: 400;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #666;
        }

        .select-arrow-active{
          &::after{
            top: 12px !important;
          }
        }
        label{
          font-family: Averta;
          display: contents;
          font-size: 18px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: rgba(49, 69, 106, 0.8);
        }
        input{
          background-color: white;
          padding: 13px 15px;
          width: 400px;
          height: 46px;
          border-radius: 4px;
          border: solid 1px #dfdfdf;
          font-family: Averta;
          font-size: 14px;
          font-weight: 400;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #666;
          outline: none;
        }
        .password{
          width: 400px;
          height: 46px;
          position: relative;
          .view{
            position: absolute;
            height: 90%;
            top: 0;
            right: 5px;
            background-color: transparent;
            // align-items: center;
            // display: flex;
            // justify-content: center;
            border: none;
            outline: none;
            img{
              width: 20px;
              height: 20px;
            }
          }
          .view_confrim{
            position: absolute;
            height: 90%;
            top: 0;
            right: 5px;
            background-color: transparent;
            // align-items: center;
            // display: flex;
            // justify-content: center;
            border: none;
            outline: none;
          }
        }
      }
      .btn-facebook {
        background: #3B5998;
        color: #fff;
        width: 100%;
        margin-top: 15px;
        height: 45px;
        font-size: 14px !important;
      }
      .alert-danger{
        margin-top: 15px;
        margin-bottom: 0px;
        font-size: 13px;
      }
      .forgotPassword{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .checkbox_container{
          margin-bottom: 0;
        }
        a{
          font-family: Averta;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.43;
          letter-spacing: normal;
          text-align: right;
          color: #ff9466;
        }
      }
      .registerUser{
        display: flex;
        justify-content: space-between;
        margin: 15px 0px 0px 0px;
        .registerUserInside{
          display: flex;
          p{
            font-size: 15px;
            margin-bottom: 0px;
          }
          a{
            margin-left: 5px;
            text-decoration: none;
            color: #ff9466;
            font-size: 15px;
          }
        }
      }
      .g-recaptcha{
        width: 100%;
      }
      .submit{
        margin-top: 20px;
        width: 400px;
        height: 46px;
        border-radius: 4px;
        background-color: #ff9466;
        border: none;
        font-family: Averta;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }
      .submit_reg{
        width: 700px !important;
      }
      .kep-login-facebook{
        width: 100%;
        border-radius: 5px;
        margin-top: 12px;
        font-size: 14px;
        height: 45px;
      }
      .have_acc{
        margin-top: 10px;
        text-align: center;
        a{
          font-family: Averta;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: black;
        }

      }
    }
  }
}

@media only screen and (max-width:768px) {
  #login_register{
    padding-top: 90px;
    //height: 86vh;
      .wrapper{
        padding: 90px 15px 0px 15px !important;
        background: white !important;
        .header{
          margin-bottom: 0px !important;
          h3{
            font-size: 20px !important;
          }
        }
        .form{
          width: 100%;
          form{
            width: 100%;
            .inputs{
              label{
                font-size: 14px;
              }
              input{
                width: 100%;
                font-size: 15px;
              }
              .password{
                width: 100%;
                input{
                  width: 100%;
                  font-size: 15px;
                }
                .view{
                  right: 0px;
                  width: 60px;
                }
              }
            }
            .submit{
              width: 100%;
              font-size: 14px;
            }
          }
        }
      }
  }
}

@media only screen and (max-width:365px) {
  #login_register{
    padding-top: 90px;
    //height: 86vh;
    .wrapper{
      padding: 70px 15px !important;
      background: white;
      .registerUser{
        flex-flow: column;
        .registerUserInside{
          margin-bottom: 8px;
        }
      }
    }
  }
}