#blogs {
    margin-top: 30px;
    margin-bottom: 20px;

    .blogs_header {
        margin-bottom: 20px;
    }

    .blog {
        padding: 15px 0px;
        margin-bottom: 40px;

        // border: 1px solid purple;
        .blog_left {
            // height: 100%;
            height: 280px;
            padding-top: 7px;
            display: flex;
            align-items: center;
            border: 1px solid #ff9466;
            border-radius: 5px;
            img {
                border-radius: 5px;
                width: 100%;
                height: auto;
            }
        }

        .blog_right {
            height: 280px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .blog_header {
                margin-bottom: 10px;
                h4{
                    color: #ff9466;
                    font-size: 20px;
                }
            }
            .blog_date {
                p {
                    color: #535353;
                    font-size: 14px;
                    img {
                        width: 20px;
                        margin-right: 8px;
                    }
                }
            }

            .blog_description {
                p{
                    font-size: 15px;
                }
            }

            .blog_button {
                button {
                    background: #ff9466;
                    color: white;
                    font-size: 15px !important;
                }
            }
        }
    }
}

@media only screen and (max-width:768px) {
    #blogs{
        margin-top: 90px;
        .blogs_header{
            margin-bottom: 0px;
            h5{
                margin-bottom: 0px;
                font-size: 17px;
            }
        }
        .blog{
            margin-bottom: 25px;
            .blog_left{
                margin-bottom: 17px;
            }
            .blog_right{
                .blog_header{
                    margin-bottom: 20px;
                    h4{
                        font-size: 17px;
                        margin-bottom: 0px;
                    }
                }
                .blog_date{
                    font-size: 11px;
                    margin-bottom: 20px;
                    p{
                        margin-bottom: 0px;
                        span{
                            font-size: 15px;
                            color: #535353
                        }
                    }
                }
                .blog_description{
                    margin-bottom: 20px;
                    p{
                        font-size: 16px;
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}