#blogs {
    margin-top: 30px;
    margin-bottom: 50px;

    .blogs_header {
        margin-bottom: 20px;
    }

    .blog {
        padding: 15px 0px;
        margin-bottom: 40px;

        // border: 1px solid purple;
        .blog_left {
            // height: 100%;
            height: 220px;
            padding-top: 7px;
            img {
                width: 100%;
                height: 100%;
            }
        }

        .blog_right {
            height: 220px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .blog_header {}

            .blog_date {
                p {
                    img {
                        width: 20px;
                        margin-right: 8px;
                    }
                }
            }

            .blog_description {}

            .blog_button {
                button {
                    background: purple;
                    color: white;
                }
            }
        }
    }
}