#all_products{
    margin-top: 30px;
    padding-bottom: 50px;
    .all_products_header{
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        .all_products_header_left{
            h5{
                color: rgba(49, 69, 106, 0.8);
            }
        }
        .all_products_header_right{
            width: 60%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            span{
                margin-right: 10px;
                font-size: 14px;
            }
            .select_date{
                display: flex;
                label{
                    margin-right: 12px;
                    margin-bottom: 0px;
                }
                select{
                    height: 25px;
                    font-size: 13px;
                    border-radius: 2px;
                    padding: 0px 10px;
                    outline: none;
                    margin-right: 2px;
                    &:focus{
                        box-shadow: none;
                        outline: none;
                    }
                    option{
    
                    }
                }
            }
            
        }
        
    }
    a{
        text-decoration: none;
        color: rgba(49, 69, 106, 0.8);
        .products_item {
            margin: 1px;
            border: 1px solid #ff9466;
            border-radius: 5px;
            text-align: left;
            margin-bottom: 20px;
            height: 250px;
            overflow: hidden;
            .item{
                height: 100%;
                position: relative;
                .products_item_top{
                    width: 100%;
                    height: 180px;
                    z-index: 9;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    img {
                        width: 100%;
                        height: auto;
                        min-height: 180px;
                        max-width: 100%;
                        overflow: hidden;
                        margin: 0 auto;
                        display: block;
                    }
                }
                .products_item_name{
                    display: flex;
                    position: absolute;
                    align-items: flex-end;
                    z-index: 999;
                    background: white;
                    bottom: 35px;
                    width: 100%;
                    height: 31px;
                    p{
                        margin-left: 12px;
                        font-family: Averta;
                        font-size: 16px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        margin-bottom: 0px;
                        
                    }
                }
                .products_item_bottom{
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    background: white;
                    z-index: 999;
                    position: absolute;
                    bottom: 0px;
                    height: 35px;
                    width: 100%;
                    p{
                        color: #333;
                        // color: #ff9466;
                        margin-left: 11px;
                        font-family: Averta;
                        font-size: 13px;
                        margin-bottom: 0px;
                    }
                }
            }
            
        }
    }
    
}

@media only screen and (max-width:768px) {
    #all_products{
        .all_products_header{

        }
        .row{
            .products_item{
                .item{
                    .products_item_top{

                    }
                    .products_item_name{
                        p{
                            font-size: 13px;
                        }
                    }
                    .products_item_bottom{
                        p{
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
}