

#product_details {
    margin-top: 25px;
    padding-bottom: 10px;

    .product_details_images {
        .image-gallery {
            .image-gallery-content{
                height: 380px;
                max-height: 380px;
                .image-gallery-slide-wrapper{
                    height: 90%;

                    .image-gallery-slides{
                        height: 100%;
                        background-color: black;
                        .image-gallery-slide{
                            height: 100%;
                            div{
                                height: 100%;
                                img{
                                    height: 100%;
                                }
                            }
                        }
                    }
                    .image-gallery-left-nav{
                        .image-gallery-svg{
                            height: 60px;
                        }
                    }
                    .image-gallery-right-nav{
                        .image-gallery-svg{
                            height: 60px;
                        }
                    }
                    .image-gallery-play-button{
                        display: none;
                    }
                    .image-gallery-fullscreen-button{
                        .image-gallery-svg{
                            height: 40px !important;
                            width: 40px !important;
                        }
                    }
                    .image-gallery-swipe{
                        height: 100%;
                        background-color: black;
                        .image-gallery-slides{
                            height: 100%;
                            .center{
                                visibility: visible !important;
                            }
                            .image-gallery-slide{
                                height: 100%;
                                visibility: hidden;
                                div{
                                    height: 100%;
                                    img{
                                        height: 100% !important;
                                        max-height: 100% !important;
                                    }
                                }
                            }

                        }

                    }
                }
                .image-gallery-thumbnails-wrapper{
                    height: 115px;
                    .image-gallery-thumbnails{
                        height: 115px;
                        .image-gallery-thumbnails-container{
                            height: 100px;
                            .image-gallery-thumbnail{
                                .image-gallery-thumbnail-inner{
                                    height: 100px;
                                    .image-gallery-thumbnail-image{
                                        height: 100px;
                                    }
                                }
                            }
                            .active{
                                border: 4px solid black;
                            }
                            .image-gallery-thumbnail:focus{
                                border: 4px solid black;
                            }
                            .image-gallery-thumbnail:hover{
                                border: 4px solid black;
                            }

                        }
                    }
                }
            }
            .fullscreen{
                height: 85%;
                max-height: 85%;
            }

        }
    }

    .product_details_info {
        margin: 0px 0px 20px 0px;

        .product_details_info_header {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            background: white !important;
            border-bottom: 1px solid #ff9466;
            border-top: 1px solid #ff9466;
            padding: 10px 0px;
            h4 {
                color: #6a6a6a;
                font-size: 20px;
                margin-bottom: 0px;
            }

            button {
                margin-left: 12px;
                width: 50px;
                font-size: 17px;
                color: #ff9466;
                cursor: default;
                background: none;
                border: none;
            }
        }

        .lot_info {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-bottom: 30px;
            color: rgba(49, 69, 106, 0.8);

            .product_number_of_views {
                display: flex;
                align-items: center;
                margin-right: 30px;

                img {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }

                p {
                    margin-bottom: 0px;
                }
            }

            .product_update_date {
                display: flex;
                align-items: center;

                img {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }

                p {
                    margin-bottom: 0px;
                }
            }
        }

        .product_details_categories {
            display: flex;
            margin-bottom: 10px;
            .product_details_categories_left {
                list-style: none;
                padding-left: 0px;
                margin-right: 30px;
                font-weight: 600;
                color: #5b5b5b;
                border-right: 1px solid #ff9466;
                padding-right: 30px;
                li {
                    display: flex;
                    padding-bottom: 10px;
                    svg{
                        margin-right: 4px;
                    }
                }
            }

            .product_details_categories_right {
                list-style: none;
                padding-left: 0px;
                color: rgba(49, 69, 106, 0.8);
                li {
                    padding-bottom: 10px;

                    span {
                        margin-left: 20px;
                    }
                }
            }
        }

        .product_details_description {
            margin-bottom: 30px;
            color: rgba(49, 69, 106, 0.8);
            p{
                font-size: 16px;
                color: #333;
            }
        }

        .product_details_author_and_change {

            // display: flex;
            // justify-content: flex-start;
            .product_details_author {
                display: flex;
                align-items: center;
                height: 100px;
                padding: 15px 15px;
                border-radius: 15px;
                margin-bottom: 20px;
                border: 1px solid rgba(255, 255, 255, 0.7);
                background-color: #F7F8F9;

                .product_details_author_left {
                    margin-right: 25px;
                    .product_details_author_phone_number {
                        margin-bottom: 10px;

                        a{
                            margin-bottom: 0px;
                            color: rgba(49, 69, 106, 0.8);
                            font-weight: bold;
                            font-size: 16px;
                        }
                    }

                    .product_details_author_name {
                        p {
                            margin-bottom: 0px;
                            color: rgba(49, 69, 106, 0.8);
                            font-size: 16px;
                            font-weight: 600;

                        }
                    }
                }

                .product_details_author_right {
                    width: 30%;
                    display: flex;
                    align-items: center;

                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }

            .product_details_change {
                height: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 15px 15px;
                border-radius: 15px;
                border: 1px solid rgba(255, 255, 255, 0.7);
                background-color: #F7F8F9;


                .product_details_change_edit {
                    display: flex;
                    margin-bottom: 15px;
                    border-bottom: 1px solid #ff9466;
                    padding-bottom: 15px;

                    a {
                        display: flex;

                        img {
                            width: 20px;
                            height: 20px;
                            margin-right: 15px;
                        }

                        p {
                            margin-bottom: 0px;
                            color: #555;
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }

                }

                .product_details_change_delete {
                    display: flex;

                    a {
                        display: flex;

                        img {
                            width: 20px;
                            height: 20px;
                            margin-right: 15px;
                        }

                        p {
                            margin-bottom: 0px;
                            color: #555;
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }

                }



            }
        }
    }
}

@media only screen and (max-width:992px) {
    #product_details{
        margin-top: 25px;
       .container{
           max-width: 960px;
           .product_details_images{

           }
           .product_details_info{
               .product_details_author_and_change{
                   .product_details_author{
                       .product_details_author_left{

                       }
                       .product_details_author_right{
                           img{
                               width: 60px;
                               height: 60px;
                           }
                       }
                   }
               }
           }
       }
    }
}

@media only screen and (max-width:768px) {
    #product_details{
        margin-top: 90px;
        .product_details_images{
            .image-gallery{
                .image-gallery-content{
                    .image-gallery-slide-wrapper{
                        height: 65% !important;
                    }
                }
                .fullscreen{
                    height: 95% !important;
                    max-height: 95% !important;
                    margin-top: 100px;
                }
            }
        }
        .product_details_info{
            margin: 10px 0px 20px 0px;
            .product_details_author_and_change{
                .product_details_author{
                    .product_details_author_left{

                    }
                    .product_details_author_right{
                        img{
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
            }
        }

        .minimumProductStyle{
            position: fixed;
            bottom: 0px;
            width: 100%;
        }
        .minimumProductStyleStatic{
            position: static !important;
        }
    }
}

@media only screen and (max-width:444px) {
    #product_details{
        margin-top: 75px;
        .product_details_info{
            .lot_info{
                .product_number_of_views{
                    margin-bottom: 5px;
                }
            }
        }
    }
}