#blog_inside {
    margin-top: 30px;
    margin-bottom: 50px;

    .blog_header {
        // margin-bottom: 20px;
    }

    .blog {
        padding: 15px 0px;
        margin-bottom: 40px;

        // border: 1px solid purple;
        .blog_top {
            // height: 100%;
            height: 400px;
            padding-top: 7px;
            margin-bottom: 20px;
            img {
                border-radius: 4px;
                width: auto;
                height: 100%;
            }
        }

        .blog_bottom {
            // height: 220px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .blog_header {
                h3{
                    color: #ff9466;
                }
            }

            .blog_date {
                p {
                    img {
                        width: 20px;
                        margin-right: 8px;
                    }
                }
            }

            .blog_description {
                p{
                    font-size: 15px;
                }
            }

            .blog_button {
                button {
                    background: #ff9466;
                    color: white;
                }
            }
        }
    }
}