#all_products{
    margin-top: 30px;
    padding-bottom: 50px;
    .all_products_header{
        margin-bottom: 20px;
        h5{
            color: rgba(49, 69, 106, 0.8);
        }
    }
    a{
        text-decoration: none;
        color: rgba(49, 69, 106, 0.8);
        .products_item {
            margin: 1px;
            // box-shadow: 0px 0px 0px 1px #c9c9c9;
            box-shadow: 30px 30px 30px -10px rgba(0,0,0,0.1),
                -30px -30px 30px -10px rgba(255,255,255,0.4),
                -0.5px -0.5px 0 rgba(255,255,255,1),
                0.5px 0.5px 0 rgba(0,0,0,0.02);
            border-radius: 13px;
            text-align: left;
            margin-bottom: 20px;
            height: 250px;
            overflow: hidden;
            .item{
                height: 100%;
                .products_item_top{
                    height: 74%;
                    // padding: 12px;
                    img {
                        margin-bottom: 25px;
                        width: 100%;
                        height: 100%;
                    }
                }
                .products_item_name{
                    display: flex;
                    align-items: center;
                    margin: 10px 0px;
                    // height: 13%;
                    p{
                        margin-left: 12px;
                        font-family: Averta;
                        font-size: 16px;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        margin-bottom: 0px;
                    }
                }
                .products_item_bottom{
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    // height: 13%;
                    p{
                        color: gray;
                        margin-left: 11px;
                        font-family: Averta;
                        font-size: 13px;
                        margin-bottom: 0px;
                    }
                }
            }
            
        }
    }
    
}