footer{
    padding: 25px 0px 20px 0px;
    border: 1px solid rgba(255,255,255,0.7);
    background-color: #F7F8F9;
    .wrapper{
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-between;

        .header-text{
            margin-bottom: 15px;
            p{
                font-family: Averta;
                font-size: 15px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: rgba(49, 69, 106, 0.8);
            }
        }
        .social{
            display: flex;
            //align-items: center;
            flex-direction: column;
            justify-content: space-evenly;
            .logo{
                 img{
                     width: 200px;
                 }
               
            }
            .description{
                padding: 10px 0 15px 0;
                p{
                    opacity: 0.75;
                    font-family: Averta;
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.56;
                    letter-spacing: normal;
                    color: rgba(49, 69, 106, 0.8);
                    margin-bottom: 0;
                }
            }
            
        }
        
        .contact-subscribe{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .follow-us{
                ul{
                    li{
                        display: inline-block;
                        margin-right: 20px;
                    }
                }
            }
        }
       
        ul{
            margin-left: 0;
            margin-bottom: 0;
            padding-left: 0;
            li{
                list-style: none;
                margin-bottom: 7px;
                a{
                    opacity: 0.75;
                    font-family: Averta;
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: rgba(49, 69, 106, 0.8);
                    text-decoration: none;
                }
            }
        }
        
    }
}

@media only screen and (max-width:769px){
    footer{
        padding: 15px 0px 10px 0px;
        //position: fixed;
        bottom: 0px;
        width: 100%;
        .social{
            .logo{
                img{
                    width: 155px !important;
                }
            }
            .description{
                p{
                    font-size: 16px !important;
                }
            }
        }
       .contact-subscribe{
           .contact_footer{
               .header-text{
                   padding-bottom: 10px;
                   margin-bottom: 0px;
                   p{
                       font-size: 16px !important;
                       margin-bottom: 0px !important;
                       padding-top: 5px;
                   }
               }
               ul{
                   li{
                       a{
                           font-size: 16px !important;
                       }
                   }
               }
           }
       }
    }
    .minimumProductStyle{
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
    .minimumProductStyleStatic{
        position: static !important;
    }
}

