footer{
    padding: 25px 0px 20px 0px;
    border: 1px solid rgba(255,255,255,0.7);
    background-color: #F7F8F9;
    .wrapper{
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-between;

        .header-text{
            font-family: Averta;
            font-size: 15px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: rgba(49, 69, 106, 0.8);
            margin-bottom: 15px;
        }
        .social{
            // width: 25%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .logo{
                 img{
                     width: 200px;
                 }
               
            }
            .description{
                padding: 10px 0 15px 0;
                p{
                    opacity: 0.75;
                    font-family: Averta;
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.56;
                    letter-spacing: normal;
                    color: rgba(49, 69, 106, 0.8);
                    margin-bottom: 0;
                }
            }
            
        }
        
        .contact-subscribe{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .follow-us{
                ul{
                    li{
                        display: inline-block;
                        margin-right: 20px;
                    }
                }
            }
        }
       
        ul{
            margin-left: 0;
            margin-bottom: 0;
            padding-left: 0;
            li{
                list-style: none;
                margin-bottom: 7px;
                a{
                    opacity: 0.75;
                    font-family: Averta;
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: rgba(49, 69, 106, 0.8);
                    text-decoration: none;
                }
            }
        }
        
    }
}
@media only screen and (max-width:769px){
    footer{
        .social{
            li{
                margin-right: 5px !important;
                img{
                    width: 80%;
                }
            }
        }
       
        .header-text{
            margin-top: 25px;
        }
        .site-map{
            p{
                margin-top: 0 !important;
            }
        }
    }
}
@media only screen and (max-width:590px){
    footer{
        .logo{
            img{
                width: 35% !important;
            }
        }
    }
}
